<%- include('./includes/header.ejs') %>
<body>
   <!-- header -->
   <%- include('./includes/nav.ejs') %>
   <!-- Main Body -->
   <main>
      <div class="container">
         <h2 style="text-align:center;">Declaration Information Covid-19</h2>
         <!-- form submit information covid -->
         <form class="row mb-3" action="/covid-19" method="POST">
            <!-- dang ki thông tin thân nhiệt -->
            <div class="col-md-6">
               <label for="temperature" class="form-label">Hypothermia</label>
               <input type="number" class="form-control" id="temperature" name="temperature" />            
            </div>

            <div class="col-md-6">
               <label for="dateOfTemperature" class="form-label">Declaration Date</label>
               <input type="date" class="form-control" id="dateOfTemperature" name="dateOfTemperature" />
            </div>
            <!-- đăng kí thông tin vaccine mũi 1 -->
            <div class="col-md-6">
               <label for="firstVaccineName" class="form-label">Vaccine Name First Inject:</label>

               <select class="form-select" id="firstVaccineName" name="firstVaccineName">
                  <option selected>Choose...</option>
                  <option value="AstraZeneca">AstraZeneca</option>
                  <option value="Pfizer">Pfizer</option>
                  <option value="Spokevax (Moderna)">Spokevax (Moderna)</option>
               </select>

            </div>
            <div class="col-md-6">
               <label for="dateOfFirstInject" class="form-label">Date first inject</label>
               <input type="date" class="form-control" id="dateOfFirstInject" name="dateOfFirstInject" />
            </div>
            <!-- đăng kí thông tin vaccine mũi 2 -->
            <div class="col-md-6">
               <label for="secondVaccineName" class="form-label">Vaccine Name Second Inject:</label>
               <select class="form-select" id="secondVaccineName" name="secondVaccineName">
                  <option selected>Choose...</option>
                  <option value="AstraZeneca">AstraZeneca</option>
                  <option value="Pfizer">Pfizer</option>
                  <option value="Spokevax (Moderna)">Spokevax (Moderna)</option>
               </select>
            </div>
            <div class="col-md-6">
               <label for="dateOfSecondInject" class="form-label">Date second inject</label>
               <input type="date" class="form-control" id="dateOfSecondInject" name="dateOfSecondInject" />
               
            </div>

            <!-- khai báo tình trang nhiễm covid -->
            <div class="col-md-6">
               <label for="covidStatus" class="form-label">Covid-19 status:</label>
               <select class="form-select" id="covidStatus" name="covidStatus">
                  <option selected>Choose...</option>
                  <option value="Infected with covid-19">Infected with covid-19</option>
                  <option value="Never had covid">Never had covid</option>
               </select>              
            </div>
            <div class="col-md-6">
               <label for="dateCovidStatus" class="form-label">Date infection with covid-19:</label>
               <input type="date" class="form-control" id="dateCovidStatus" name="dateCovidStatus" />
            </div>
            <p style="color: red">  
                  <%= error %> 

            </p>
            <button type="submit" class="btn btn-primary">Submit Information</button>
         </form>
      </div>
      <hr style="opacity: 1"/>
      <!-- Render information covid -->
      <div class="container">
         <div class="row">
            <h4>Staff's Name: <%= name %></h4>
            <% if(data) { %> 
            <p>Last declared hypothermia: <% if(data.hypothermia.temperature){ %> 
               <%= data.hypothermia.temperature %>
               <% } %>
            </p>
            <p>Date Last declared hypothermia: <% if(data.hypothermia.temperature){ %>
               <%= data.hypothermia.time %>
               <% } %>
            </p>
            <p>First shot vaccine: <% if(data.firstInject.typeVaccine){ %>
               <%= data.firstInject.typeVaccine %>
               <% } %>
            </p>
            <p>Date first inject: 
               <% if(data.firstInject.typeVaccine){ %>
                  <%= data.firstInject.time %>
               <% } %>
            </p>
            <p>Second shot vaccine: 
               <% if(data.secondInject.typeVaccine){ %>
                  <%= data.secondInject.typeVaccine %>
               <% } %>
            </p>
            <p>Date second inject:
               <% if(data.secondInject.time){ %>
                  <%= data.secondInject.time %>
               <% } %>
            </p>
            <p>History of infection with covid-19:
               <% if(data.isCovid.positive){ %>
                  <%= data.isCovid.positive %>
               <% } %>
            </p>
            <p>Time infection:
               <% if(data.isCovid.time){ %>
                  <%= data.isCovid.time %>
               <% } %>
            </p>
            <% } %>
         </div>
      </div>
   </main>

   <!-- footer -->
   <%- include('./includes/footer.ejs') %>

   <!-- JS -->
   <!-- <script src="./main.js"></script> -->
</body>
</html>