<%- include('./includes/header.ejs') %>
</head>
<body>
   <!-- header -->
   <%- include('./includes/nav.ejs') %>
   <!-- Main Body -->
   <main>
      <div class="container">
         <div class="row">
            <h3 style="text-align:center; color: white ; background-color: green; margin: 2px 0">Detailed Information Sheet</h3>

            <button class="btn btn-secondary col-md-1" onclick="monthDetail(this)">
               January</button>
            <button class="btn btn-secondary col-md-1" onclick="monthDetail(this)" >
               February</button>
            <button class="btn btn-secondary col-md-1" onclick="monthDetail(this)">
               March</button>
            <button class="btn btn-secondary col-md-1" onclick="monthDetail(this)">
               April</button>
            <button class="btn btn-secondary col-md-1" onclick="monthDetail(this)">
               May</button>
            <button class="btn btn-secondary col-md-1" onclick="monthDetail(this)">
               June</button>
            <button class="btn btn-secondary col-md-1" onclick="monthDetail(this)">
               July</button>
            <button class="btn btn-secondary col-md-1" onclick="monthDetail(this)">
               August</button>
            <button class="btn btn-secondary col-md-1" onclick="monthDetail(this)">
               September</button>
            <button class="btn btn-secondary col-md-1" onclick="monthDetail(this)">
               October</button>
            <button class="btn btn-secondary col-md-1" onclick="monthDetail(this)">
               November</button>
            <button class="btn btn-secondary col-md-1" onclick="monthDetail(this)">
               December</button>

            <hr style="FONT-WEIGHT: 600; margin: 2px 0 0 0; opacity: 1;"/>
            
            <!-- table salary -->
            <table class="table" id="salary-table" style="margin-bottom: 0;">
               <thead>
                  <tr class="tr">
                     <th>Date</th>
                     <th>Register Time</th>
                     <th>End Time</th>
                     <th>Caculate Time</th>
                     <th>Work Place</th>
                     <th>Over Time</th>
                     <th>Lack Of Working Time</th>
                     <th>Annual Leave</th>
                  </tr>
               </thead>       
               <tbody>

               </tbody>
            </table>
            <!-- calculate Salary -->
            <div style="border: 1px solid ; text-align: center; background-color: aquamarine;
            padding: 0;">
               <h5 style="margin: auto; border-bottom: 1px solid;">
                  Salary Calculation Formula: 
                  Salary = salaryScale * 3000000 + (overTime - Lack Of Working Time) * 200000
               </h5>
               <h5 id="salary">

               </h5>
            </div>
            <!-- pagination -->
            <div id="pagination">
               <div style="display: flex; justify-content: center;">
                  <button class="btn btn-primary mx-1" id="previous" onclick="convertPageNumber(false)">previous page</button>
                  <button class="btn btn-primary mx-1" id="next" onclick="convertPageNumber(true)">next page</button>
               </div>

               <div style="display: flex; justify-content: center; align-items: center;">
                  <h6 style="height: 12px" class="mx-2">choose number row:</h6>
                  <select id="size" style="border-radius: 4px; background-color: #333; color: white;">
                     <option value="10">10 rows a page</option>
                     <option value="20">20 rows a page</option>
                     <option value="30">30 rows a page</option>
                  </select>
               </div>               
            </div>
         </div>  
         <!-- render information manager -->
         <div class="row" style="border: 1px double green; background-color: green; color: white">
            <h4>Administrator: <%= nameManager %></h4>
            <h4>Administrator Id: <%= props.manager %></h4>
         </div>
      </div>
   </main>

   <!-- footer -->
   <%- include('./includes/footer.ejs') %>

   <!-- JS -->
   <script>
      let data = <%- JSON.stringify(data) %>;
      let annualLeave = <%- JSON.stringify(annualLeave) %>
      let staff = <%- JSON.stringify(props) %>
   </script>
   <script src="./salary.js"></script>
</body>
</html>