<%- include('./includes/header.ejs') %>
<body>
   <!-- header -->
   <%- include('./includes/nav.ejs') %>
   <!-- Main Body -->
   <main>
      <div class="container">
         <div class="row">
            <!-- image -->
            <div class="col-4 py-2">
               <img width="100%" src="https://vnn-imgs-f.vgcloud.vn/2020/08/23/11/dien-vien-anh-thu-tiet-lo-nguyen-nhan-ly-hon-chong-cu.jpg" alt="">
            </div>

            <!-- main content -->
            <div class="col-8">

               <!-- Apply to join work and post into server -->
               <button style="width: 100%" class="btn btn-primary my-2"
                  onclick= "showDetailsApply()"
               >
                  Apply Work
               </button>

               <!-- Work content -->
               <div id="contentApply" 
                  style=<% if (isShowInfor == "true") { %>
                     "visibility: visible"
                  <% } else { %>
                     "visibility: hidden"
                  <% } %>
               >
                  <!-- submit Staff to server -->
                  <form action="/" method="POST">
                     <h3 style="text-align:center"><%= props.name %></h3>
                     <div class="row">
                        <h5 style="text-align:center; line-height: 1.5; padding: 4px 0;" class="col-4 my-2">
                           Work Place:
                        </h5>
                        <select name="workPlace" class="col-4 my-2" style="line-height: 1.5;">
                           <option value="Office">Office</option>
                           <option value="Home">Home</option>
                        </select>
   
                        <button type="submit" 
                           class="btn my-2 col-4 <% if(statusWorking == 'true'){ %>
                              btn-danger
                           <% } else { %>
                              btn-primary
                           <% } %>"                
                        >
                           <% if(statusWorking == 'true'){ %>
                              End Work
                           <% } else { %>
                              Start Work
                           <% } %>
                        </button>
                        <!-- value submit -->
                        <input type="hidden" name=<% if(statusWorking == 'true'){ %>
                              "endWork"
                           <% } else { %>
                              "startWork" 
                           <% } %>
                           value="<%= new Date() %>" 
                        />
                        <input type="hidden" name="staffId" value="<%= props._id %>" />
                     </div>
                  </form>
                  <table id="table" class="table">
                     <thead>
                        <tr class="tr">
                           <th>Date</th>
                           <th>Staff Name</th>
                           <th>Work Place</th>
                           <th>Register time</th>
                           <th>End time</th>
                           <th>Working time</th>
                        </tr>
                     </thead>
               
                     <tbody>
                        <% props.workOnDay.map((staff) => { %>
                           <tr class="tr">
                              <!-- work Date -->
                              <td>
                                 <%= new Date().getDate() %>/
                                 <%= new Date().getMonth() %>/
                                 <%= new Date().getFullYear() %>
                              </td>
                              <!-- Staff name -->
                              <td><%= props.name %></td>
                              <!-- Work play -->
                              <td><%= staff.workPlace %></td>
                              <!-- time begin work -->
                              <td>
                                 <%= new Date(staff.beginWork).getHours() %>:
                                 <%= new Date(staff.beginWork).getMinutes() %>:
                                 <%= new Date(staff.beginWork).getSeconds() %>s
                              </td>
                              <!-- time end Work -->
                              <td>
                                 <% if(staff.endWork) { %>
                                    <%= new Date(staff.endWork).getHours() %>:
                                    <%= new Date(staff.endWork).getMinutes() %>:
                                    <%= new Date(staff.endWork).getSeconds() %>s  
                                 <% } else { %>
                                    <h6>Working</h6>
                                 <% } %>
                              </td>
                              <!-- Working Time -->
                              <td>
                                 <% if(staff.endWork) { %>
                                    <%= new Date(
                                       new Date(staff.endWork).getTime() - 
                                       new Date(staff.beginWork).getTime()
                                       ).getMinutes()
                                    %>
                                 <% } else { %>
                                    <h6>Working</h6>
                                 <% } %>
                              </td>
                           </tr>                          
                        <% }) %> 
                     </tbody>
                     <tr class="tr">
                        <th>
                           Total time worked:
                        </th>
                        <th>

                        </th>
                     </tr>
                  </table>
                  
               </div>
            </div>
            <!-- Take Break Work -->
            <div class="row justify-content-center">
               <div class="col-8">
                  <button style="width: 100%;" class="btn btn-primary my-2" 
                     onclick="showDetailsAnnual()"
                  >
                     Take a leave work
                  </button>
                  <!-- Form check submit -->
                  <form style="display: block" id="contentAnnualLeave" 
                  onsubmit="return submitAnnualLeave('<%= props.annualLeave.remainingDays %>')" action="/annualLeave" method="POST" >
                     <!-- choose annual break date -->
                     <div class="form-group">
                        <label for="datepicker">
                           <h5>-Select your break date:</h5>
                        </label>
                        <input type="text" class="form-control" id="datepicker" name="datePicker" placeholder="Select date" 
                        required/>
                       
                     </div>
                     <div class="form-group">
                        <label for="timeAnnual">
                           <h5>-Select hours break on date:</h5>
                        </label>
                        <input type="number" class="form-control" id="timeAnnual" name="timeAnnual" value="8" 
                        />
                     </div>
                     <div class="form-group">
                        <label class=""><h5>-Reason break:</h5></label>
                        <textarea class="form-control" id="reason" name="reason"></textarea>
                     </div>
                     <div class="form-group">
                        <h5>
                           -Remaining days off: 
                           <%= props.annualLeave.remainingDays %> days
                        </h5>
                     </div>

                     <p class="error" style="color: red;"></p>
                     <input type="hidden" name="staffId" value="<%= props._id %>" />
                     <button type="submit" class="btn btn-primary">Submit Annual Leave</button>
                  </form>
               </div>              
            </div>
         </div>
      </div>
   </main>

   <!-- footer -->
   <%- include('./includes/footer.ejs') %>

   <!-- JS -->
   <script src="./main.js"></script>
</body>
</html>