<%- include('./includes/header.ejs') %>
<body>
   <!-- header -->
   <%- include('./includes/nav.ejs') %>
   <!-- Main Body -->
   <main>
      <div class="container">
         <div class="row">
            <!-- image -->
            <div class="col-4 py-2">
               <img width="100%" src="https://vnn-imgs-f.vgcloud.vn/2020/08/23/11/dien-vien-anh-thu-tiet-lo-nguyen-nhan-ly-hon-chong-cu.jpg" alt="">
            </div>

            <!-- main content -->
            <div class="col-8">

               <!-- Apply to join work and post into server -->
               <button style="width: 100%" class="btn btn-primary my-2"
                  onclick= "showFunction()"
               >
                  Apply Work
               </button>
               
               <div id="contentApply" 
                  style=<%= statusWorking == "true" ? 
                     "visibility : visible;" : 
                     "visibility : hidden;" 
                  %> 
               >
                  <!-- submit Staff to server -->
                  <form action="/" method="POST">
                     <h3 style="text-align:center"><%= props.name %></h3>
                     <div class="row">
                        <h5 style="text-align:center; line-height: 1.5; padding: 4px 0;" class="col-4 my-2">
                           Work Place:
                        </h5>
                        <select name="workPlace" class="col-4 my-2" style="line-height: 1.5;">
                           <option value="Office">Office</option>
                           <option value="Home">Home</option>
                        </select>
   
                        <button class="btn my-2 col-4 btn-primary" type="submit"
                           
                        >
                           <a style="visibility: hidden" href="localhost:3001/?statusWorking=true"></a>
                        </button>

                        <input type="hidden" name="startWork" value="<%= new Date() %>" />
                        <input type="hidden" name="staffId" value="<%= props._id %>" />
                     </div>
                     
                  </form>
                  <table id="table" class="table">
                     <thead>
                        <tr class="tr">
                           <th>Date</th>
                           <th>Staff Name</th>
                           <th>Work Place</th>
                           <th>Register time</th>
                           <th>End time</th>
                           <th>Working time</th>
                        </tr>
                     </thead>
               
                     <tbody>
                        <% props.workOnDay.map((staff) => { %>
                           <tr class="tr">
                              <!-- work Date -->
                              <td>
                                 <%= new Date().getDate() %>/
                                 <%= new Date().getMonth() %>/
                                 <%= new Date().getFullYear() %>
                              </td>
                              <!-- Staff name -->
                              <td><%= props.name %></td>
                              <!-- Work play -->
                              <td><%= staff.workPlace %></td>
                              <!-- time begin work -->
                              <td>
                                 <%= new Date(staff.beginWork).getHours() %>:
                                 <%= new Date(staff.beginWork).getMinutes() %>:
                                 <%= new Date(staff.beginWork).getSeconds() %>s
                              </td>
                              <!-- time end Work -->
                              <td>
                                 <% if(staff.endWork) { %>
                                    <%= new Date(staff.endWork).getHours() %>:
                                    <%= new Date(staff.endWork).getMinutes() %>:
                                    <%= new Date(staff.endWork).getSeconds() %>s  
                                 <% } else { %>
                                    <h6>Working</h6>
                                 <% } %>
                              </td>
                              <!-- Working Status -->
                              <td>
                                 <% if(staff.endWork) { %>
                                    <%= new Date().getHours() %>
                                 <% } else { %>
                                    <h6>Working</h6>
                                 <% } %>
                              </td>
                           </tr>                          
                        <% }) %> 

                     </tbody>
                  </table>
                  <form action="/" method="POST">
                     <button class="btn btn-primary my-2">
                        Finish Work
                     </button>
                     <input type="hidden" name="endWork" value="<%= new Date() %>" />
                     <input type="hidden" name="staffId" value="<%= props._id %>" />
                  </form>
                  
               </div>
            </div>
            <!-- Take Break Work -->
            <div>
               <button class="btn btn-primary my-2">
                  Take a leave work
               </button>
               <form action="/break" method="POST">

               </form>
            </div>
         </div>
      </div>
   </main>

   <!-- footer -->
   <%- include('./includes/footer.ejs') %>

   <!-- JS -->
   <script src="./main.js"></script>
</body>
</html>