<%- include('./includes/header.ejs') %>
<body>
   <!-- header -->
   <%- include('./includes/nav.ejs') %>
   <!-- Main Body -->
   <main>
      <div class="container">
         <div class="row">
            <!-- image -->
            <div class="col-xl-4 py-2">
               <img width="100%" src=<%= props.image %> alt="">
            </div>
            <!-- main content -->
            <div class="col-xl-8">
               <h3 class="my-2" style="text-align: center;">Your Personal Information</h3>
               <hr style="FONT-WEIGHT: 600; margin: 0; opacity: 1;"/>
               <table class="table">
                     <tr class="tr">
                        <th>Name:</th>
                        <th><%= props.name %></th>
                     </tr>
                     <tr class="tr">
                        <th>Staff ID:</th>
                        <td><%= props._id %></td>
                     </tr>
                     <tr class="tr">
                        <th>Day of birth:</th>
                        <th>
                           <%= new Date(props.dOB).getDate() %>/
                           <%= new Date(props.dOB).getMonth() %>/
                           <%= new Date(props.dOB).getFullYear() %>
                        </th>
                     </tr>
                     <tr class="tr">
                        <th>Salary Scale:</th>
                        <td><%= props.salaryScale %></td>
                     </tr>
                     <tr class="tr">
                        <th>Start Date:</th>
                        <th>
                           <%= new Date(props.startDate).getDate() %>/
                           <%= new Date(props.startDate).getMonth() %>/
                           <%= new Date(props.startDate).getFullYear() %>
                        </th>
                     </tr>
                     <tr class="tr">
                        <th>Department: </th>
                        <td><%= props.department %></td>
                     </tr>
                     <tr class="tr">
                        <th>Annual Leave:</th>
                        <th><%= props.annualLeave.remainingDays %> days</th>
                     </tr>
                     <tr class="tr">
                        <th>Image Profile:</th>
                        <td><%= props.image %></td>
                     </tr>
               </table>

               <button style="width: 100%" class="btn btn-primary my-2"
               onclick="openChangeImage()">
                  Change Profile Image
               </button>

               <form id="changeImage" style="display: none" action="/profile" method="POST">
                  <div class="form-group">
                     <label for="image"><h5>Your New Image:</h5></label>
                     <input class="form-control" type="text" name="image" 
                     onchange="handleImageChange(this)" />
                  </div>
                  <button class="btn btn-primary my-2" type="submit">Update</button>
               </form>
               <img src="" id="view" width="300"/>
            </div>
         </div>
      </div>
   </main>

   <!-- footer -->
   <%- include('./includes/footer.ejs') %>

   <!-- JS -->
   <script src="./main.js"></script>
</body>
</html>